
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap&family=Anton&display=swapfamily=EB+Garamond:wght@500&family=Mulish:wght@300;400;600&family=Poppins:wght@300;400;600;700&display=swap');

 #wrapper {
    overflow-x: hidden;
 }
 body{
   font-family: Poppins;
 }

#sidebar-wrapper {
  min-height: 120vh;
}

#sidebar-wrapper .sidebar-heading {
  padding: 1.875rem 4.25rem;
  font-size: 1rem;
}

#sidebar-wrapper .list-group {
  width: 14rem;
}
.list-group-item{
  background-color: #15192F;
  color: rgb(201, 198, 194);
  transition: all 0.3s ease-in;
}
.list-group-item:hover{
  background-color: #FFCA2C;
  transition: all 0.3s ease-in;
}

#page-content-wrapper {
  min-width: 100vw;
}

@media (min-width: 468px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}
.table-list .row{
  margin-top: 80px;
}
.table-list input[type=text]{
    width:300px;
    margin-left: -110px;
  
}

th{
  color: aliceblue;
}

tr{
  background-color: rgb(121, 121, 121);
}

.list-arsip{
  margin-left: 20px;
}
 h1{
  font-weight: bold;
}




